/*首页信息流主体部分*/
/**
*##reuser
*这部分代码是可复用的，要放入style.css
*/
.content-body{
    position: absolute;
    width: 100%;
}
/*首页信息流主体部分*/

/*动态消息部分整体*/
.board{
    position: relative;
    margin-top:5%;
    margin-left: 2%;
    z-index: 100;
    border-radius:10px;
}

#notice-space{
    margin-top: 15px;
    margin-left: 30px;
}
.notice-txt{
    color: #999999;
}

/*动态消息部分整体*/
#trend-message-input{
    position: relative; /*2016-01-19修改*/
    width:570px;
    height:195px;
    float: left;
}
.img-icon{
    position: absolute;
    margin-left: 410px;
    margin-top: 10px;
    color: #000000;
    font-size: 24px;
}
.input-title{
    border: 1px #0099CB solid;
    width: 350px;
    margin-left: 30px;
    margin-bottom: 2px;
}
#trend-message-body{
    outline: none;
    resize: none;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 105px;
    max-height: 110px;
    margin-top: 0px;
    margin-left: 30px;
    border: 2px #0099CB solid;
}
/*工具栏通用样式*/
.utilbar{
    width: 450px;
    height: 33px;
}
/*发表按钮*/
#publish-btn{
    outline:none;
    margin-left: 450px;
    margin-top:10px;
}
/*文件选择框 位置*/
#image-board{
    position: absolute;
    z-index: 100000;
    width: 370px;
    height: auto;
    margin-top: 52px;
    max-height: 230px;
    left: 100px;
}
/*文件选择框 通用*/
.image-board{
    position:absolute;
    display: none;
    background:#FCFCBE;
    border-radius:5px; /* 圆角 */
    border: 1px #F8C301 solid;
}
/*文件选择框的小三角 通用样式*/
.arrow{
    opacity: 1;
    position:absolute;
    top:5px;
    font-size:0;
    border:solid 8px;
}
/* 文件选择框的小三角 位置*/
#image-arrow{
    right:40px; /* 圆角的位置需要细心调试哦 */
    top:-16px;
    border-color:#ffffff #ffffff #F8C301 #ffffff;
}
/*文件选择框 位置*/
.file-upload-board{
    position: absolute;
    margin-top: 65px;
    margin-left: 10px;
}

.alert-bar{
    position: absolute;
    width: 95%;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    background: #666666;
}
.upload-nav{
    position: absolute;
    margin-top: 5px;
    margin-left:5px;
    color: #ffffff;
    font-weight: bold;
}
.icon{
    cursor: pointer;
}
/*图片选择模板的叉号 位置*/
#img-close-icon{
    margin-left: 330px;
    margin-top: 8px;
}
/*通用 关闭模板的叉号*/
.close-icon{
    color: #ffffff;
}
#warning-space{
    margin-left: 10px;
    margin-top: 100px;
}
#file-size-warning{
    color: #999999;
}
.show-picture{
    display: none;
    padding: 5px;
    height: 85px;
    border: 1px solid #eeeeee;
    box-shadow: 0 1px 2px #ddd;
}
#show-picture{
    margin-top: 5px;
    margin-left: 10px;
}
/* 通用 照片缩略显示块*/
.upload-image{
    display: none;
    border-radius: 5px;
    height: 60px;
    width: 60px;
}
.remove-icon{
    color:#E8483F;
}
#img-remove-icon{
    display: none;
    position: absolute;
    left: 65px;
    top: 195px;
}
/*2016-01-20修改*/
.notice-board{
    position: relative;
    background: #FFFFE0;
    height: 205px;
    width: 300px;
    border: 1px solid #0099CB;
    margin-top: 50px;
}

.broadcast-board{

}
#broadcast-board{
    height: 100%;
    width: 100%;
}
.board-content{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.content-p{
    margin: 0 0 1px
}
.conmment-icon{
    color: #FCCC20;
}
.advice{
    cursor: pointer;
}
.nav .contents{
    position: relative;
    z-index: 1;
}
.contents{
    width: 100%;
    height: 220px;
    margin-top: 30px;
    margin-left: 0px;
    padding-top: 25px;
    padding-left: 10px;
}
.choose-bar{
    position: relative;
    height: 40px;
    width: 86%;
    background: #E9EAEC;
    margin-left: 0px;

}
#choose-list{
    height: 40px;
}
.strategy-selected{
    background: #FCCC20;
    color: #ffffff;
}
.item-box{
    position: absolute;
    cursor: pointer;
    width: 85px;
    height: 40px;
}
#item-box1{
    margin-left: 0px;
}
#item-box2{
    margin-left: 85px;
}
#item-box3{
    margin-left: 170px;
}
.item-txt{
    position: absolute;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 15px;
    z-index: 1;
}

/*2016-1-16添加*/
#recommend-board{
    position: relative;
    margin-top: 50px;
    background-color: #FFFFFF;
    min-height: 450px;
    min-width:300px;
    border: 1px #DEDFE1 solid;
}
/*用户模板*/
.mod-head{
    padding-bottom: 5px;
    border-bottom: 1px solid #f2f2f5;
    padding: 5px 25px 5px;
}
.mod-body {
    z-index: 30;
    position: relative;
    min-height: 75%;
    padding: 20px 20px;
}
/*2016-01-18添加*/
dd{
    margin-left: 10px;
}
dl {
    height: auto;
    overflow: hidden;
    margin: 10px 0;
}
.username-lab12{
    color: #101010;
    font-weight: bold;
    font-size: 12px;
}
.username-lab15{
    color: #101010;
    font-weight: bold;
    font-size: 15px;
}
.username-lab18{
    color: #101010;
    font-weight: bold;
    font-size: 18px;
}
/*用户模板*/
/*查看更多*/
.interest-more {
    display: block;
    height: 35px;
    line-height: 40px;
    text-align: center;
    border-top: 1px solid #f2f2f5;
    margin: 0 -25px -15px;
}
#hottopic-board{
    position: relative;
    margin-top: 43px;
    background-color: #FFFFFF;
    min-height: 310px;
    min-width:300px;
    border: 1px #DEDFE1 solid;
}
.circles{
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
}
/*2016-01-18添加*/
#contents-body{
    position: relative;
    margin-top: 30px;
    width: 100%;
    margin-left: 0px;
}
.trends-message-box{
    width: 630px;
    min-height: 170px;
    margin-left: 20px;
    height:auto;
    float: left;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2); /*底边阴影*/
}
.trend-message-head{
    line-height: 40px;
    border-top: 1px solid #f2f2f5;
    padding-left: 20px;
}
.obscure-lab{
    color: #999;
    font-size: 12px;
}
.trend-message-body{
    min-height: 80px;
}
.message-board{
    padding:5px 20px 5px 20px;
    height: auto;
}
.trend-message-foot{
    position: relative;
    min-height: 46px;
    border-top: 1px solid #f2f2f5;
    padding: 11px 20px 5px 20px;
    background-color: #F4F4F4;
}
.agree-btn> a:hover{
    color: #fff;
    background: #666;
}
.share-btn> a:hover{
    color: #fff;
    background: #666;
}
.comment-btn> a:hover{
    color: #fff;
    background: #666;
}
.agree-btn> a{
    float: left;
    height: 28px;
    padding: 0 10px;
    color: #999;
    line-height: 28px;
    text-decoration: none;
    border-radius: 4px 0 0 4px;
}
.agree-btn{
    display: inline-block;
    float: left;
    background-color: #fbfbfb;
    border-radius: 4px 0 0 4px;
}
.share-btn{
    display: inline-block;
    float: left;
    background-color: #fbfbfb;
    border-radius: 0 4px 4px 0 ;
}
.share-btn>a{
    float: left;
    height: 28px;
    padding: 0px 10px;
    color: #999;
    line-height: 28px;
    text-decoration: none;
    border-radius: 0 4px 4px 0 ;
}
.comment-btn{
    margin-left: 10px;
    display: inline-block;
    float: left;
    background-color: #fbfbfb;
    border-radius: 4px ;
}
.comment-btn>a{
    float: left;
    height: 28px;
    padding: 1px 10px;
    color: #999;
    line-height: 28px;
    text-decoration: none;
    border-radius: 4px ;
}
/*2016-01-30添加*/
/*float属性使用pull-right类代替*/
.delete-btn{
    margin-left: 10px;
    display: inline-block;
    background-color: #fbfbfb;
    border-radius: 4px ;
}
.delete-btn>a{
    height: 28px;
    padding: 7px 14px;
    color: #999;
    line-height: 28px;
    text-decoration: none;
    border-radius: 4px ;
}
.delete-btn> a:hover{
    color: #fff;
    background: #666;
}

.comment-list{
    padding: 10px 10px 10px 10px;
}
.timestamp{
    font-size: 12px;
}
/*2016-01-20*/
#announce-remove{
    margin-left: 250px;
    margin-top: 0px;
}
/*2016-01-23*/
.more-info{
    background-color: #CCCCCC;
    height: 40px;
    width: 630px;
    margin-left: 10%;
    text-align: center;
    line-height: 40px;
    margin-bottom: 30px;
}
.more-info:hover{
    background-color: #BBBBBB;
    cursor: pointer;
    transition: all 0.2s ease;
}
.count{
    margin-left: 5px;
}
.activity_img {
    padding-bottom: 20px;
    max-width: 600px;
}
.block-border{
    border: 1px solid #ffffff;
    padding: 5px;
}

.clicked{
    color: #fff;
    background: #666;
}

.modal-header{
    min-height: 16.43px;
    padding: 15px;
    border-bottom:0px;
}
.inner-box{
    padding:15px;
    text-align: left;
    background:#F5F5F5;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2);
}
/*行级元素*/
.inner-element{
    display:inline;
}